@model LibraryManagmentSystem.Application.DTO.ReservationDto

@{
    ViewData["Title"] = "ReservationDetails";
}

<h1>Current Reservation Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
